/*
 * Copyright 2012 Frédéric Faltin @ Alpaga Studio <frederic.faltin@alpagastudio.be>
 *
 *  This file is part of Sambal Framework.
 *
 *  Sambal is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Sambal is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Sambal.  If not, see <http://www.gnu.org/licenses/>.
 */
 
@import "styles.components/tag.less";
@import "styles.components/form.less";
@import "styles.components/table.less";
 
 	
/* *********************************************************** */
// text-align 
/* *********************************************************** */
.text-align(@type) {
	text-align: @type;
}

	.medium-text-align(@type) {
		@media only screen and (max-width: @minLargeWidth) {
			.text-align(@type);
		}
	}

	.small-text-align(@type) {
		@media only screen and (max-width: @minMediumWidth) {
			.text-align(@type);
		}
	}

.all-text-align (@full:"left";@medium:"left";@small:"small") {
	.text-align(@full);
	.medium-text-align(@medium);
	.small-text-align(@small);
}

/* *********************************************************** */
// font-size 
/* *********************************************************** */

.font-size(@value) {
	font-size: @value;
}

	.medium-font-size(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.font-size(@value);
		}
	}

	.small-font-size(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.font-size(@value);
		}
	}

.all-text-align (@full:"1em";@medium:"1em";@small:"1em") {
	.font-size(@full);
	.medium-font-size(@medium);
	.small-font-size(@small);
}

	
/* *********************************************************** */
// border
/* *********************************************************** */
.border(@value;@type:"all") when (@type="all") { border: @value; }
.border(@value;@type) when (@type="bottom") { border-bottom: @value; }
.border(@value;@type) when (@type="top") { border-top: @value; }
.border(@value;@type) when (@type="left") { border-left: @value; }
.border(@value;@type) when (@type="right") { border-right: @value; }


	.medium-border(@value;@type:"all") {
		@media only screen and (max-width: @minLargeWidth) {
			.border(@value,@type);
		}
	}

	.small-border(@value;@type:"all") {
		@media only screen and (max-width: @minMediumWidth) {
			.border(@value,@type);
		}
	}
	
.all-border(@full;@medium;@small;@fullType:"all";@mediumType:"all";@smallType:"all") {
	.border(@full,@fullType);
	.medium-border(@medium,@mediumType);
	.small-border(@small,@smallType);
}
	
/* *********************************************************** */
// height
/* *********************************************************** */
.height(@value) {
	height: @value;
}

	.medium-height(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.height(@value);
		}
	}

	.small-height(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.height(@value);
		}
	}
	
.all-height(@full;@medium;@small) {
	.height(@full);
	.medium-height(@medium);
	.small-height(@small);
}

/* *********************************************************** */
// Min height
/* *********************************************************** */

.min-height(@value) {
	min-height: @value;
}

	.medium-min-height(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.min-height(@value);
		}
	}

	.small-min-height(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.min-height(@value);
		}
	}

	
.all-min-height(@full;@medium;@small) {
	.min-height(@full);
	.medium-min-height(@medium);
	.small-min-height(@small);
}

/* *********************************************************** */
// Max height
/* *********************************************************** */
.max-height(@value) {
	max-height: @value;
}

	.medium-max-height(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.max-height(@value);
		}
	}

	.small-max-height(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.max-height(@value);
		}
	}
	
.all-max-height(@full;@medium;@small) {
	.max-height(@full);
	.medium-max-height(@medium);
	.small-max-height(@small);
}
	
/* *********************************************************** */
// width
/* *********************************************************** */
.width(@value) {
	width: @value;
}

	.medium-width(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.width(@value);
		}
	}

	.small-width(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.width(@value);
		}
	}
	
.all-width(@full;@medium;@small) {
	.width(@full);
	.medium-width(@medium);
	.small-width(@small);
}


/* *********************************************************** */
// Min width
/* *********************************************************** */

.min-width(@value) {
	min-width: @value;
}

	.medium-min-width(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.min-width(@value);
		}
	}

	.small-min-width(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.min-width(@value);
		}
	}

	
.all-min-width(@full;@medium;@small) {
	.min-width(@full);
	.medium-min-width(@medium);
	.small-min-width(@small);
}

/* *********************************************************** */
// Max width
/* *********************************************************** */
.max-width(@value) {
	max-height: @value;
}

	.medium-max-width(@value) {
		@media only screen and (max-width: @minLargeWidth) {
			.max-width(@value);
		}
	}

	.small-max-width(@value) {
		@media only screen and (max-width: @minMediumWidth) {
			.max-width(@value);
		}
	}
	
.all-max-width(@full;@medium;@small) {
	.max-width(@full);
	.medium-max-width(@medium);
	.small-max-width(@small);
}
	
/* *********************************************************** */
// Display (hide|show)
/* *********************************************************** */

.hideElement() {
	display: none;
	.opacity(0,0);
}

	.hide(@type:"regular") when (@type="regular") {
		.hideElement();
	}

	.hide(@type) when (@type="medium") {
		@media only screen and (max-width: @minLargeWidth) {
			.hideElement();
		}
	}

	.hide(@type) when (@type="small") {
		@media only screen and (max-width: @minMediumWidth) {
			.hideElement();
		}
	}


.showElement(@type:"block") when (@type = "block") {
	display: block;
	.opacity(1,100);
} 

.showElement(@type) when (@type="inline-block") {
	display: inline-block;
	.fixIe7(display,inline-block);
	.opacity(1,100);
}

	.show(@size: "regular",@type:"block") when (@size="regular") {
		.showElement(@type);
	} 

	.show(@size: "medium",@type:"block") when (@size="medium") {
		@media only screen and (max-width: @minLargeWidth) {
			.showElement(@type);
		}
	}

	.show(@size: "small",@type:"block") when (@size="small") {
		@media only screen and (max-width: @minMediumWidth) {
			.showElement(@type);
		}
	}
